  .main{
    height: 95vh;
    background-color: #bf7a6b;
    background-image: -webkit-linear-gradient(bottom left, #bf7a6b 0%, #e6d8a7 100%);
    background-image: linear-gradient(to top right,#bf7a6b 0%, #e6d8a7 100%);
  }

  .full-height{
    height: 100vh
  }

  .dimensions-center {
        min-height: 300px;
        min-width: 400px;
        padding: 10px;
  }

  .img-dimensions {
    height: 30%;
    width : 30%;
    padding-top: 10px;
    padding-bottom : 10px
}

.upload{
    width : 100px;
    margin-top: 10px;
}

.row{
    margin-bottom: 10px;
}

.card-body{
    min-width: 300px;
}
